# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
